<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Basic page needs
        ============================================ -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Checkout || ACSAS </title>
        <meta name="description" content="">

        <!-- Mobile specific metas
        ============================================ -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon.ico -->
        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

        <!-- ============== All CSS ================ -->
        <!-- normalize css
        ============================================ -->
        <link rel="stylesheet" href="css/normalize.css">

        <!-- animate css
        ============================================ -->
        <link rel="stylesheet" href="css/animate.css">

        <!-- bootstrap css
        ============================================ -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- meanmenu css
        ============================================ -->
        <link rel="stylesheet" href="css/meanmenu.min.css">

        <!-- font-awesome css
        ============================================ -->
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <!-- icofont css
        ============================================ -->
        <link rel="stylesheet" href="css/icofont.css">

        <!-- change-text css
        ============================================ -->
        <link rel="stylesheet" href="css/change-text.css">

        <!-- YTPlayer css
        ============================================ -->
        <link rel="stylesheet" href="css/jquery.mb.YTPlayer.min.css">

        <!-- main css
        ============================================ -->
        <link rel="stylesheet" href="css/main.css">

        <!-- owl.carousel css
        ============================================ -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.transitions.css">

        <!-- nivo-slider css
        ============================================ -->
        <link rel="stylesheet" href="lib/css/nivo-slider.css">
        <link rel="stylesheet" href="lib/css/preview.css">

        <!-- style css
        ============================================ -->
        <link rel="stylesheet" href="style.css">

        <!-- responsive css
        ============================================ -->
        <link rel="stylesheet" href="css/responsive.css">

        <!-- modernizr js
        ============================================ -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script src="store.js" defer></script>
        <script>
          var stripePublicKey = '<%= stripePublicKey %>'
        </script>

    </head>
    <body onload="allOnloads()">
        <!-- header area start -->
        <header id="sticker">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- welcome message start -->
                            <div class="welcome-msg">
                                <ul>
                                    <li> <p>  Contact: (520) 223-3072</p></li>
                                    <li> <p>acsassalesllc@hotmail.com</p></li>
                                    <li> <p> <a href="../Front End/login.html">login</a></p></li>
                                </ul>
                            </div>
                            <!-- welcome message end -->
                        </div>
                        <div class="col-md-3">
                            <!-- Search Bar -->
                            <div class="header-top-menu">
                                <form action="/search" method="post">
                                    <input type="text" placeholder="Search.." name="searchBar">
                                    <button type="submit" value="search">Go</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-top-menu">
                                <!-- cart menu start -->

                                <!-- cart menu end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area start -->
            <div class="main-menu-area hidden-xs">
                <div class="container">
                    <div class="menu-position">
                        <div class="row">
                            <div class="col-md-3 col-sm-2">
                                <!-- logo start -->
                                <div class="logo">
                                    <a href="index">
                                        <img src="img/logo.png" alt="" height="100" width="200">
                                    </a>
                                </div>
                                <!-- logo end -->
                            </div>
                            <div class="col-md-9 col-sm-10 static">
                                <!-- main-menu start -->
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <!-- single menu -->
                                            <li class="has-sub"><a href="index">Home</a></li>
                                            <!-- single menu -->
                                            <li><a href="about-us.html">About us</a></li>
                                            <li class="has-mega"><a href="shop">Parts</a></li>
                                            <li><a href="trucks">Trucks</a></li>
                                            <li><a href="trailers">Trailers</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- main-menu start -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mainmenu area end -->
        </header>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- page title start -->
                        <div class="page-title">
                            <h2>checkout</h2>
                        </div>
                        <!-- page title end -->
                        <!-- page title menu start -->
                        <div class="page-title-menu">
                            <ul>
                                <li><a href="index">Home</a> <span> / </span> </li>
                                <li><a href="checkout.html">checkout</a></li>
                            </ul>
                        </div>
                        <!-- page title menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <!-- checkout area start -->
        <div class="checkout-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- total cart area start -->
                        <div class="cart-total">
                            <!-- section title start -->
                            <div class="section-small-title">
                                <h3>your order</h3>
                            </div>
                            <!-- section title end -->
                            <!-- single item -->
                            <div id ="cart-items" class="cart-items">
                            </div>
                            <p class="total-price"><strong class="cart-total-title">Total</strong><span class="pull-right"><span class="cart-total-price">$0</span></span> </p>
                        </div>
                        <!-- total cart area end -->
                        <!-- payment method start -->
                        <br>
                        <div class="client-address">
                            <button class="btn btn-primary btn-purchase" type="button">Place Order</button>
                        </div>
                        
                       
                         
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout area end -->
        <!-- footer top start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <!-- FILL SPACE -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <div class="footer-about-us">
                                <!-- address start -->

                                <div class="footer-address">
                                    <p> <span> ADDRESS: </span>Rio Rico Arizona </p>
                                    <p>USA 85648</p>
                                </div>
                                <!-- address end -->
                                <!-- contact info start -->
                                <div class="footer-contact-info">
                                    <p> <span> Telephone:</span> (520) 223-3072 </p>
                                    <p> <span> Email:</span> acsassalesllc@hotmail.com </p>
                                </div>
                                <!-- contact info end -->
                            </div>
                        </div>
                        <!-- single footer end -->
                    </div>
                    <div class="col-md-2 col-md-offset-1 col-sm-3">
                        <!-- single footer start -->
                        <div class="single-footer-top">
                            <!-- section title start -->
                            <div class="footer-top-title">
                                <h3>USEFUL LINKS</h3>
                            </div>
                            <!-- section title end -->
                            <!-- footer menu start -->
                            <div class="footer-top-menu">
                                <ul>
                                    <li><a href="index">Home</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="shop">Shop Parts</a></li>
                                    <li><a href="trucks">Shop Trucks</a></li>
                                    <li><a href="trailers">Shop Trailers</a></li>
                                </ul>
                            </div>
                            <!-- footer menu end -->
                        </div>
                        <!-- single footer end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer top end -->
        <!-- footer area start -->
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-3 col-sm-4">
                        <!-- footer social start -->
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://www.facebook.com/AZCUSTOMSERVICEANDSALES"> <i class="fa fa-facebook"></i> </a></li>
                                <li><a href="https://www.instagram.com/arizonacustomservicesandsales/"> <i class="fa fa-instagram"></i> </a></li>
                            </ul>
                        </div>
                        <!-- footer social end -->
                    </div>
                    <div class="col-md-6 col-sm-4">
                        <!-- copyright text start -->
                        <div class="footer-copyright">
                            <p>Copyright &copy; 2018- <a href="https://freethemescloud.com/">Free themes Cloud</a> </p>
                        </div>
                        <!-- copyright text end -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <!-- payment method start -->
                        <div class="footer-payment-method">
                            <img src="img/payment-method.png" alt="">
                        </div>
                        <!-- payment method end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer area end -->

        <!-- ============== All JS ================ -->
        <!-- jquery js
        =========================================== -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>

        <!-- bootstrap js
        =========================================== -->
        <script src="js/bootstrap.min.js"></script>

        <!-- meanmenu js
        =========================================== -->
        <script src="js/jquery.meanmenu.js"></script>

        <!-- scrollUp js
        =========================================== -->
        <script src="js/jquery.scrollUp.min.js"></script>

        <!-- wow js
        =========================================== -->
        <script src="js/wow.min.js"></script>

        <!-- owl.carousel js
        =========================================== -->
        <script src="js/owl.carousel.min.js"></script>

        <!-- change-text js
        =========================================== -->
        <script src="js/change-text.js"></script>

        <!-- YTPlayer js
        =========================================== -->
        <script src="js/jquery.mb.YTPlayer.min.js"></script>

        <!-- textillate js
        =========================================== -->
        <script src="js/jquery.lettering.js"></script>
        <script src="js/jquery.textillate.js"></script>

        <!-- nivo.slider js
        =========================================== -->
        <script src="lib/js/jquery.nivo.slider.js"></script>
        <script src="lib/home.js"></script>

        <!-- plugins js
        =========================================== -->
        <script src="js/plugins.js"></script>

        <!-- main js
        =========================================== -->
        <script src="js/main.js"></script>
    </body>
</html>
